In [1]:
import pandas as pd
from nemo.collections.common.tokenizers.column_coder import ColumnCodes
from omegaconf import OmegaConf
import pickle

In [2]:
df = pd.read_csv('./inflation.csv',parse_dates=['Date'])
columns = list(df.columns)
df['Month'] = df['Date'].dt.month
columns[0] = 'Month'
df

,Date,NoDur %,Durbl,Manuf,Enrgy,HiTec,Telcm,Shops,Hlth,Utils,Inflation % CPI,PPI %,M2 (1957) %,10Yr US treasury Yield,Median Price USA Single Family home (1953) % change,GDP Qtr % shown monthly (QTR/3) (1947),Oil West Texas (1946) Intermediate % change,Month
0,1927-01-01,-0.67,-0.92,-0.08,1.29,-1.13,1.88,-2.55,5.05,-1.79,-2.2,-3.0,0.20,0.03,0.17,0.09,-2.57,1
1,1927-02-01,3.37,8.91,5.81,1.47,4.45,3.97,3.61,1.71,4.53,-2.8,1.2,0.20,0.03,0.17,0.09,-2.57,2
2,1927-03-01,2.73,1.62,1.43,-6.01,1.45,5.56,-0.41,1.01,0.37,-2.8,-0.6,0.20,0.03,0.17,0.09,-2.57,3
3,1927-04-01,3.35,3.15,0.77,-5.17,5.40,-2.13,4.46,2.74,1.71,-3.4,-1.2,0.20,0.03,0.17,0.09,-2.57,4
4,1927-05-01,8.14,5.93,5.07,4.82,7.37,3.35,2.34,4.12,9.21,-2.2,-0.6,0.20,0.03,0.17,0.09,-2.57,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1133,2021-06-01,-0.74,5.66,-0.80,5.50,6.94,-0.12,2.84,4.28,-1.42,5.4,1.8,0.64,0.02,1.84,0.70,10.78,6
1134,2021-07-01,0.20,-0.69,1.34,-8.52,3.42,0.31,0.26,3.15,2.94,5.4,1.0,0.67,0.01,1.42,0.70,0.65,7
1135,2021-08-01,-0.29,1.73,0.53,-1.35,4.68,1.40,2.39,2.85,3.22,5.3,0.7,0.98,0.01,0.75,0.70,-7.37,8
1136,2021-09-01,-4.57,2.84,-5.77,10.63,-6.27,-5.65,-4.20,-5.94,-4.77,5.4,1.1,0.89,0.01,4.39,0.70,9.53,9
1137,2021-10-01,3.75,30.63,4.95,10.25,7.67,-4.28,4.96,2.32,5.14,6.2,2.0,0.87,0.02,0.81,2.10,11.38,10

In [3]:
tab_structure = []
for c in columns:
    if c != 'Month':
        item = {
            "name": c,
            "code_type": "float",
            "args": {
                "code_len": 3,  # number of tokens used to code the column
                "base": 32,   # the positional base number. ie. it uses 32 tokens for one digit
                "fillall": True, # whether to use full base number for each token or derive it from the data.
                "hasnan": False, # can it handles nan or not
            }
        }
    else:
        item = {
            "name": c,
            "code_type": "category",
        }
    tab_structure.append(item)
print(OmegaConf.to_yaml(tab_structure))
print(columns)

- name: Month
  code_type: category
- name: NoDur %
  code_type: float
  args:
    code_len: 3
    base: 32
    fillall: true
    hasnan: false
- name: Durbl
  code_type: float
  args:
    code_len: 3
    base: 32
    fillall: true
    hasnan: false
- name: Manuf
  code_type: float
  args:
    code_len: 3
    base: 32
    fillall: true
    hasnan: false
- name: Enrgy
  code_type: float
  args:
    code_len: 3
    base: 32
    fillall: true
    hasnan: false
- name: HiTec
  code_type: float
  args:
    code_len: 3
    base: 32
    fillall: true
    hasnan: false
- name: Telcm
  code_type: float
  args:
    code_len: 3
    base: 32
    fillall: true
    hasnan: false
- name: Shops
  code_type: float
  args:
    code_len: 3
    base: 32
    fillall: true
    hasnan: false
- name: 'Hlth '
  code_type: float
  args:
    code_len: 3
    base: 32
    fillall: true
    hasnan: false
- name: Utils
  code_type: float
  args:
    code_len: 3
    base: 32
    fillall: true
    hasnan: false
- name: Inflation % CPI
  code_type: float
  args:
    code_len: 3
    base: 32
    fillall: true
    hasnan: false
- name: PPI %
  code_type: float
  args:
    code_len: 3
    base: 32
    fillall: true
    hasnan: false
- name: M2 (1957) %
  code_type: float
  args:
    code_len: 3
    base: 32
    fillall: true
    hasnan: false
- name: 10Yr US treasury Yield
  code_type: float
  args:
    code_len: 3
    base: 32
    fillall: true
    hasnan: false
- name: Median Price USA Single Family home (1953) % change
  code_type: float
  args:
    code_len: 3
    base: 32
    fillall: true
    hasnan: false
- name: GDP Qtr % shown monthly (QTR/3) (1947)
  code_type: float
  args:
    code_len: 3
    base: 32
    fillall: true
    hasnan: false
- name: Oil West Texas (1946) Intermediate % change
  code_type: float
  args:
    code_len: 3
    base: 32
    fillall: true
    hasnan: false

['Month', 'NoDur %', 'Durbl', 'Manuf', 'Enrgy', 'HiTec', 'Telcm', 'Shops', 'Hlth ', 'Utils', 'Inflation % CPI', 'PPI %', 'M2 (1957) %', '10Yr US treasury Yield', 'Median Price USA Single Family home (1953) % change', 'GDP Qtr % shown monthly (QTR/3) (1947)', 'Oil West Texas (1946) Intermediate % change']

In [4]:
example_arrays = {}
for col in tab_structure:
    col_name = col['name']
    example_arrays[col_name] = df[col_name].dropna().unique()
cc = ColumnCodes.get_column_codes(tab_structure, example_arrays)
with open('table.pickle', 'wb') as handle:
    pickle.dump(cc, handle)

In [5]:
seq_length = 1024
tokens_per_line = sum(cc.sizes) + 1

window_size = seq_length // tokens_per_line
print(f"tokens per line {tokens_per_line}, windows size {window_size}")

tokens per line 50, windows size 20

In [6]:
model_df = df[columns]
model_df

,Month,NoDur %,Durbl,Manuf,Enrgy,HiTec,Telcm,Shops,Hlth,Utils,Inflation % CPI,PPI %,M2 (1957) %,10Yr US treasury Yield,Median Price USA Single Family home (1953) % change,GDP Qtr % shown monthly (QTR/3) (1947),Oil West Texas (1946) Intermediate % change
0,1,-0.67,-0.92,-0.08,1.29,-1.13,1.88,-2.55,5.05,-1.79,-2.2,-3.0,0.20,0.03,0.17,0.09,-2.57
1,2,3.37,8.91,5.81,1.47,4.45,3.97,3.61,1.71,4.53,-2.8,1.2,0.20,0.03,0.17,0.09,-2.57
2,3,2.73,1.62,1.43,-6.01,1.45,5.56,-0.41,1.01,0.37,-2.8,-0.6,0.20,0.03,0.17,0.09,-2.57
3,4,3.35,3.15,0.77,-5.17,5.40,-2.13,4.46,2.74,1.71,-3.4,-1.2,0.20,0.03,0.17,0.09,-2.57
4,5,8.14,5.93,5.07,4.82,7.37,3.35,2.34,4.12,9.21,-2.2,-0.6,0.20,0.03,0.17,0.09,-2.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1133,6,-0.74,5.66,-0.80,5.50,6.94,-0.12,2.84,4.28,-1.42,5.4,1.8,0.64,0.02,1.84,0.70,10.78
1134,7,0.20,-0.69,1.34,-8.52,3.42,0.31,0.26,3.15,2.94,5.4,1.0,0.67,0.01,1.42,0.70,0.65
1135,8,-0.29,1.73,0.53,-1.35,4.68,1.40,2.39,2.85,3.22,5.3,0.7,0.98,0.01,0.75,0.70,-7.37
1136,9,-4.57,2.84,-5.77,10.63,-6.27,-5.65,-4.20,-5.94,-4.77,5.4,1.1,0.89,0.01,4.39,0.70,9.53
1137,10,3.75,30.63,4.95,10.25,7.67,-4.28,4.96,2.32,5.14,6.2,2.0,0.87,0.02,0.81,2.10,11.38

In [15]:
import json
import functools
from multiprocessing import Pool

delimiter = ','
eod_str = '<|endoftext|>'


def get_docs_from_df(inputs):
    df, skip = inputs
    num_cols = len(df.columns)
    skip_rows = skip // num_cols
    skip_column = skip % num_cols
    # print(skip_rows, skip_column)
    full_msgs = []
    count = 0
    for row in df.iterrows():
        count += 1
        if count - 1 < skip_rows:
            continue
        items = row[1].values
        str_items = [str(int(items[i])) if i==0 else str(items[i]) for i in range(skip_column, len(items))]
        full_msgs.append(delimiter.join(str_items)) 
        skip_column = 0
    # use end of line to seperate rows
    text = '\n'.join(full_msgs)
    text += eod_str
    text_doc = {'text': text}
    doc = json.dumps(text_doc)+'\n'
    return [doc]


def gen_one_doc(model_df, n_cores, length):
    pool = Pool(n_cores)
    docs = pool.map(get_docs_from_df, [(model_df, i) for i in range(length)])
    pool.close()
    pool.join()
    return functools.reduce(lambda a, b: a + b, docs)


def generate_docs(df, filename, length):
    with open(filename, 'w') as f:
        docs = gen_one_doc(df, 10, length)
        for doc in docs:
            f.write(doc)

In [16]:
train_index = df['Date'] < '2020-01-01'
val_index = (df['Date'] >= '2020-01-01') & (df['Date'] < '2021-01-01')
test_index = df['Date'] >= '2021-01-01'
assert train_index.sum() + val_index.sum() + test_index.sum() == len(df)

In [17]:
train_df = model_df[train_index]
val_df = model_df[val_index]
test_df = model_df[test_index]
print(len(train_df), len(val_df), len(test_df))

generate_docs(train_df, 'train.jl', seq_length)
generate_docs(val_df, 'val.jl', 1)
generate_docs(test_df, 'test.jl', 1)



len(model_df.columns)

1116 12 10

17

In [18]:
!cat train.jl val.jl. test.jl > all.jl

cat: val.jl.: No such file or directory

In [30]:
get_docs_from_df(model_df.iloc[0:10], 17)

1 0

['{"text": "2,3.37,8.91,5.81,1.47,4.45,3.97,3.61,1.71,4.53,-2.8,1.2,0.2,0.03,0.17,0.09,-2.57\\n3,2.73,1.62,1.43,-6.01,1.45,5.56,-0.41,1.01,0.37,-2.8,-0.6,0.2,0.03,0.17,0.09,-2.57\\n4,3.35,3.15,0.77,-5.17,5.4,-2.13,4.46,2.74,1.71,-3.4,-1.2,0.2,0.03,0.17,0.09,-2.57\\n5,8.14,5.93,5.07,4.82,7.37,3.35,2.34,4.12,9.21,-2.2,-0.6,0.2,0.03,0.17,0.09,-2.57\\n6,-1.79,-3.0,-2.77,-3.16,3.28,-2.14,-0.62,0.54,-3.57,-0.6,0.0,0.2,0.03,0.17,0.09,-2.57\\n7,4.81,13.09,12.07,2.85,12.16,3.73,9.84,9.84,5.31,-1.1,0.0,0.2,0.03,0.17,0.09,-2.57\\n8,2.76,6.98,2.89,-0.04,5.71,0.43,7.34,0.28,3.43,-1.1,1.2,0.2,0.03,0.17,0.09,-2.57\\n9,5.24,5.67,4.76,3.32,1.21,6.53,7.5,5.65,8.29,-1.1,1.2,0.2,0.03,0.17,0.09,-2.57\\n10,-0.8,-4.38,-6.69,-2.04,-7.23,-2.09,-4.93,5.13,-4.34,-1.1,0.6,0.2,0.03,0.17,0.09,-2.57<|endoftext|>"}\n']